.c-users {
  @include flex-container(column, stretch);
  margin: $base-spacing-unit-large;
}

.c-users__user {
  @include flex-container();
  border: 1px solid $color-blue;
  border-radius: $base-radius;
  cursor: pointer;
  margin-bottom: $base-spacing-unit;
  padding: $base-radius $base-radius * 2;
  width: 500px;

  &:hover {
    background-color: $color-blue-light;
    color: $color-white;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.is-selected {
    background-color: $color-blue;
    color: $color-white;
  }
}

.c-users__id {
  flex: 0 0 24px;
}

.c-users__name {
  font-weight: 700;
  margin: 0 $base-radius;
}

.c-users__email {
  margin-left: auto;
}

#user-details-container {
  border: 1px solid $color-blue;
  border-radius: $base-radius;
  display: none;
  margin: $base-spacing-unit-large;
  padding: $base-spacing-unit;
  &.is-active {
    display: block;
  }
}

.c-user-details {
  @include flex-container(column, stretch);
}

.c-user-details__key {
  font-weight: 700;
  text-transform: capitalize;
}